<div class="container mt-4">

    <div class="bg-dark text-white text-center py-3 mb-4">
        <h1>Rick and Morty Explorer</h1>
        <p class="mb-0">Rubén Darío Monroy León</p>
    </div>
<div class="container mt-4">

  <div class="bg-dark text-white text-center py-3 mb-4">
    <h1>Rick and Morty Explorer</h1>
    <p class="mb-0">Rubén Darío Monroy León</p>
  </div>

  <div *ngIf="loading" class="text-white">
    Cargando personajes...
  </div>

  <div *ngIf="!loading" class="row">

    <div class="col-md-3 mb-4" *ngFor="let character of characters">

      <div class="card shadow">
        <img [src]="character.image" class="card-img-top">

        <div class="card-body">
          <h5>{{character.name}}</h5>
          <p>Status: {{character.status}}</p>
          <p>Species: {{character.species}}</p>
        </div>

      </div>

    </div>

  </div>

</div>
    <div *ngIf="loading">
        Cargando personajes...
    </div>

    <div class="row">

        <div class="col-md-3 mb-4" *ngFor="let character of characters">

            <div class="card shadow">

                <img [src]="character.image" class="card-img-top">

                <div class="card-body">

                    <h5>{{character.name}}</h5>

                    <p>Status: {{character.status}}</p>

                    <p>Species: {{character.species}}</p>

                </div>

            </div>

        </div>

    </div>

</div>
